{% extends 'base.html' %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/screen.css" media="screen" />
<style>
  .form-wrap {
  background: #{{ color }};
  color: #fff;
  }
</style>
{% end %}


{% block scripts %}
<script type="text/javascript" src="/static/js/main.js"></script>
{% end %}


{% block content %}
<div class="form-wrap">
  <form>
	<input type="submit" value="Send">
	<div class="message-input-wrap">
	  <textarea></textarea>
	</div>
  </form>
</div>
{% end %}
